body {
	background-color:#EEEEFF;
}

#Grid-Div {
    display: grid;
    grid-template-columns: 5% 1fr 5% 1fr 5% 1fr 5% 1fr 5%;
	grid-template-rows: 20px 50px 20px 50px auto;
}

#Title {
	grid-column: 4 / 7;
	grid-row: 2 / 3;
}

#Forum {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

#Canvas {
	grid-column: 4 / 5;
	grid-row: 4 / 5;
}

#Blog {
	grid-column: 6 / 7;
	grid-row: 4 / 5;
}

#Secretpage {
	grid-column: 8 / 9;
	grid-row: 4 / 5;
}

.Title-Box {
	border: 1px solid #a4a4da;
	border-left:none;
	border-top:none;
	background-color:#DDDDFF;
	padding:10px;
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}

a.Button:link {
	text-decoration: none;
}

a.Button:link {
	background-color:#DDDDFF;
	color:black;
}

a.Button:visited {
	color:black;
}

a.Button:hover {
	background-color:#E5E5FF;
	color:black;
}

a.Button:active {
	background-color:#222244;
	color:white;
}

.Button {
	border: 1px solid #a4a4da;
	border-left:none;
	border-top:none;
	padding:10px;
	text-align: center;
	font-weight: bold;
}

