<!Doctype html>
<html>

<head>
	<title>4Carls Blog</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='4carls_blog.css') }}" />
	<link rel="shortcut icon" href="#" />
</head>

<body>
	<article>
		<div>
		<h3 id="11-26-18">
			Updates: 11/26/18
		</h3>
		<ul> 	
			<li> Created this blog page </li>
			<ul><li>
				<a href="https://medium.freecodecamp.org/how-to-design-and-develop-a-beautiful-blog-from-scratch-a0cd1af46845">
					This post was used to make this blog
				</a>
			</li></ul>
			<li> Added the Secret Page </li>
		</ul>
		</div>
	</article>
		
</body>

</html>