<!Doctype html>
<html>

<head>
	<title>4Carls Blog</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='4carls_blog.css') }}" />
	<link rel="shortcut icon" href="#" />
</head>

<body>
	<article>
		<div>
		<h3 id="12-10-18">
			Updates: 12/10/18
		</h3>
		<ul> 	
			<li> Built the front page </li>
			<li> Made the Secret Page loop </li>
		</ul>
		</div>
	</article>
	
	<article>
		<div>
		<h3 id="12-9-18">
			Updates: 12/9/18
		</h3>
		<ul> 	
			<li> Path of Exile Betrayal League came out. I'm finally playing arc totems. </li>
			<li> Changed frontpage to forumpage and changed the url to /forumpage </li>
		</ul>
		</div>
	</article>	
	
	<article>
		<div>
		<h3 id="12-6-18">
			Updates: 12/6/18
		</h3>
		<ul> 	
			<li> Designed and added the canvas. Currently singleplayer. </li>
		</ul>
		</div>
	</article>

	<article>
		<div>
		<h3 id="12-5-18">
			Updates: 12/5/18
		</h3>
		<ul> 	
			<li> Made it so that username is saved upon a user refresh </li>
			<li> Username box now has a 20-character limit </li>
		</ul>
		</div>
	</article>
	
	<article>
		<div>
		<h3 id="11-26-18">
			Updates: 11/26/18
		</h3>
		<ul> 	
			<li> Created this blog page </li>
			<ul><li>
				<a href="https://medium.freecodecamp.org/how-to-design-and-develop-a-beautiful-blog-from-scratch-a0cd1af46845">
					This post was used to make this blog
				</a>
			</li></ul>
			<li> Added the Secret Page </li>
		</ul>
		</div>
	</article>
		
</body>

</html>