<!Doctype html>
<html>

<head>
	<title>4Carls</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='4carls_frontpage.css') }}" />
	<link rel="shortcut icon" href="#" />
</head>

<body>
	<div id="Grid-Div">
		<span id="Title" class="Title-Box"> Welcome to my website! </span>
		<a href="forum"  id="Forum" class="Button"> Forum </a>
		<a href="canvas" id="Canvas" class="Button"> Canvas </a>
		<a href="blog" id="Blog" class="Button"> Blog </a>
		<a href="secretpage" id="Secretpage" class="Button"> Do Not Click </a>
	</div>
</body>

</html>